.fundo{
    text-align: center;
    background-color: #327E8C;
}
#button{
    background-color: #5CD6D2;
}
.asd{
    color: white;
}
.painel{
    position: absolute;
    bottom: 0%;
    background-color: rgb(77, 175, 192);
    width: 30%;
    float: left;
}
.retangulo {
    line-height:0;
    width:200px;
    height:160px;
    border: 25px solid #00f;
}